{% if page.parent.route %}
    {% set parent_url = base_url ~ '/pages' ~ page.parent.route %}
    <a class="button hidden-mobile" href="{{ parent_url }}" title="{{ "PLUGIN_ADMIN.UP"|tu }}"><i
                class="fa fa-chevron-up"></i></a>
{% endif %}
